<div id="healthStats" class="container">
    <header class="row text-center">
        <h1>Statistics Overview</h1>
    </header>
    <div class="row">
        {{!-- Health --}}
        <ul class="col text-start list-group">
        <li class="text-center list-group-item"><h2>Health</h2></li>
        {{#each stats as |stat|}}
            <li class="list-group-item">{{stat.person}}'s {{stat.name}}: {{stat.value}} On a streak of {{stat.streak}}</li>
        {{/each}}
        </ul>
        {{!-- Work --}}
        <ul class="col text-start list-group">
        <li class="text-center list-group-item"><h2>Work</h2></li>
        {{#each stats as |stat|}}
            <li class="list-group-item">{{stat.person}}'s {{stat.name}}: {{stat.value}} On a streak of {{stat.streak}}</li>
        {{/each}}
        </ul>
        {{!-- Relationship --}}
        <ul class="col text-start list-group">
        <li class="text-center list-group-item"><h2>Relationship</h2></li>
        {{#each stats as |stat|}}
            <li class="list-group-item">{{stat.person}}'s {{stat.name}}: {{stat.value}} On a streak of {{stat.streak}}</li>
        {{/each}}
        </ul>
    </div>
    
</div>